@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Custom CSS Variables */
:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --font-size-base: 16px;
}

/* Global Reset and Typography */
html,
body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb; /* Tailwind gray-50 */
  color: #111827; /* Tailwind gray-900 */
  margin: 0;
  padding: 0;
}

/* Additional Global Styles */
a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  line-height: 1.6;
}
